section.fameous(id="fameous")
    .wrapper.wrapper_fameous
        .fameous_wrapper 
            .fameous_wrapper_left
                .fameous_wrapper_left_desc
                    p Famous pets
                    h3 You can choose<br>any animal<br>you like
                    .button_wrapper 
                        button.btn_left.fameousPrev 
                            img.arrow_left(src="./assets/images/arrow_right.png" alt="arrow")
                        button.btn_left.fameousNext 
                            img.arrow_right(src="./assets/images/arrow_right.png" alt="arrow")
            .fameous_wrapper_right 
                .fameous_wrapper_right_slider
                    .slider_wrapper 
                        .slider_wrapper_item
                            .contur(id="contur") 
                                p.pluss +
                                p.hidden_text(id="showText") China, East Asia
                            p.bottom_text Little panda
                            a.linkHidden(href="" id="linkHidden") Follow
                        .slider_wrapper_item
                            .contur(id="contur") 
                                p.pluss +
                                p.hidden_text(id="showText") In the sea of the Southern Hemisphere
                            p.bottom_text Penguin
                            a.linkHidden(href="" id="linkHidden") Follow
                        .slider_wrapper_item
                            .contur(id="contur") 
                                p.pluss +
                                p.hidden_text(id="showText") Russia, forests in the Orenburg region,
                            p.bottom_text Squirrel
                            a.linkHidden(href="" id="linkHidden") Follow
                        .slider_wrapper_item
                            .contur(id="contur") 
                                p.pluss +
                                p.hidden_text(id="showText") Western central China
                            p.bottom_text Little panda
                            a.linkHidden(href="" id="linkHidden") Follow
                        .slider_wrapper_item
                            .contur(id="contur") 
                                p.pluss +
                                p.hidden_text(id="showText") North America, islands near Los Angeles
                            p.bottom_text Little panda
                            a.linkHidden(href="" id="linkHidden") Follow
                        .slider_wrapper_item
                            .contur(id="contur") 
                                p.pluss +
                                p.hidden_text(id="showText") Equatorial forests of western and central 
                            p.bottom_text Gorilla
                            a.linkHidden(href="" id="linkHidden") Follow
                        .slider_wrapper_item
                            .contur(id="contur") 
                                p.pluss +
                                p.hidden_text(id="showText") Russia, Amur region 
                            p.bottom_text Tiger
                            a.linkHidden(href="" id="linkHidden") Follow
                        .slider_wrapper_item
                            .contur(id="contur") 
                                p.pluss +
                                p.hidden_text(id="showText") American state of Florida 
                            p.bottom_text Aligator
                            a.linkHidden(href="" id="linkHidden") Follow

