.wrapper
    section.hero(id="hero") 
        .description_hero
            p Wild park
            h1 Watch your favorite animal online
            .button_block
                a(href="/zoosmap.html") 
                    button.btn.btn_active Choose zoo
                a(href="/zoos/panda.html")     
                    button.btn Watch online
        img.hero_img(src="./assets/images/ph.png" alt="hero")
              
    