.wrapper
    section.howzoo(id="howzoo") 
        img.hero_img(src="./assets/images/ph1.png" alt="hero")
        .description_howzoo
            p How Zoo online works
            h3 Our service will give you an unforgettable experience of observing and interacting with animals remotely
            p.bottom_p Zoo Online is a web application with which you can watch live cages of different animals in nature reserves and zoos online and, if you wish, donate to the needs of the animal you like
            a(href="/zoos/panda.html")
                button.try_now Try now