section.payfeed(id="payfeed") 
    .wrapper.pay_wrapper
        .payfeed_start 
            p Pay & feed
            .item_pay_feed 
                img.item_pay_feed_img(src="./assets/images/paysafe.png" alt='pay')
                .item_pay_feed_desc 
                    h3 Pay with VISA card
                    p On the payment page, you need to enter the details of your "Visa" card and make a transfer. The operation will not take more than ~2 minutes.
            img.vector.vector_1(src="./assets/images/vector1.png")
        .flex
            img.vector.vector_2(src="./assets/images/vector2.png")        
            .item_pay_feed.right
                img.item_pay_feed_img(src="./assets/images/payfly.svg" alt='pay')
                .item_pay_feed_desc 
                    h3 Payment goes to the zoo
                    p Payment goes to the account of the zoo and volunteers with employees receive a notification about the donation.
        .item_pay_feed.sec3
            img.item_pay_feed_img(src="./assets/images/paymeeting.png" alt='pay')
            .item_pay_feed_desc 
                h3 The selected animal receives a treat
                p The staff takes the food you need for your chosen animal and delivers it to the animal. With your help, the animal is happy!                    
                    