section.zoogeography(id="zoogeography")
    .zoogeography_wrapper 
        .zoogeography_wrapper_left
           .zoogeography_wrapper_left_card 
                h2 Zoogeography
                .card 
                    img.card_img(src="./assets/images/eagle.png" alt="eagle")
                    h3 Eagle
                    p The broadcast is from an island near Los Angeles. Watch their real life.
                    a.watch_now(href="/zoos/eagle.html")
                        button Watch now

        .zoogeography_wrapper_right_card
            .map_wrapper 
                .map_item.map_item_img_eagle.map_item_active(idZoo="#eagle")
                    img.map_item_img(src="./assets/images/eagle_map.png" alt="eagle" idZoo="#eagle")
                .map_item.map_item_img_crocodile(idZoo="#crocodile") 
                    img.map_item_img(src="./assets/images/crocodile_map.png" alt="eagle" idZoo="#crocodile")
                .map_item.map_item_img_muncky(idZoo="#muncky") 
                    img.map_item_img(src="./assets/images/muncky_map.png" alt="eagle" idZoo="#muncky")
                .map_item.map_item_img_panda(idZoo="#panda")
                    img.map_item_img.img_panda(src="./assets/images/panda_map.png" alt="eagle" idZoo="#panda")    