aside.zoomaps_aside
    .zoomaps_aside_slider 
    .zoomaps_aside_slider_control
        img.zoomaps_aside_slider_control_arrow(src="./assets/images/up.png" alt="control") 
    .slider_wrapper
        .slider_wrapper_nohidden 
            ul.carousel 
                li.carousel_item 
                    a.carousel_item_link(href="/zoos/panda.html")
                        img.carousel_item_link_img(src="./assets/images/panda_map.png" alt="panda")
                li.carousel_item 
                    a.carousel_item_link(href="/zoos/aligator.html")
                        img.carousel_item_link_img(src="./assets/images/crocodile_map.png" alt="crocodile")
                li.carousel_item 
                    a.carousel_item_link(href="/zoos/eagle.html")
                        img.carousel_item_link_img(src="./assets/images/eagle_map.png" alt="eagle")
                li.carousel_item 
                    a.carousel_item_link(href="/zoos/gorila.html")
                        img.carousel_item_link_img(src="./assets/images/muncky_map.png" alt="muncky")
    .zoomaps_aside_slider_control
        img.zoomaps_aside_slider_control_arrow.down(src="./assets/images/up.png" alt="control") 

