footer.footer 
    .wrapper
        .footer_cont 
            .footer_cont_item.footer_cont_item_1
                a.logo_link(href="./")
                    img.footer_logo(src="./assets/images/logo_footer.png" alt="logo")
                .logo_school 
                    img.digital(src="./assets/images/footer_yem_digital.png")
                    p x 
                    img.logo_rs(src="./assets/images/rs_school_logo.png") 
            .footer_cont_item.footer_cont_item_2
                h2 Navigation
                nav.footer_nav 
                    ul.footer_nav_ul 
                        li.footer_nav_ul_li 
                            a.footer_nav_ul_li_link(href="/index.html#hero") Watch online
                        li.footer_nav_ul_li 
                            a.footer_nav_ul_li_link(href="/index.html#howzoo") How it works
                        li.footer_nav_ul_li 
                            a.footer_nav_ul_li_link(href="/index.html#fameous") Famous pets
                        li.footer_nav_ul_li 
                            a.footer_nav_ul_li_link(href="/index.html#payfeed") Pay & feed
                        li.footer_nav_ul_li 
                            a.footer_nav_ul_li_link(href="/index.html#testimonials") Testimonials
                        li.footer_nav_ul_li 
                            a.footer_nav_ul_li_link(href="/index.html#zoogeography") Zoogeography


            .footer_cont_item.footer_cont_item_3
                .cont_item_3
                    h2 Support of volunteers
                    p You can thank the volunteers for their work. For example, caring for animals and sincere love for them.
                    button.donate Donate for volunteers 
                    ul.social_footer 
                        li 
                            a.social_footer_link(href="https://www.instagram.com/?hl=ru" target="_blank") Instagram
                        li 
                            a.social_footer_link(href="https://uk-ua.facebook.com/" target="_blank") Facebook
                        li 
                            a.social_footer_link(href="https://twitter.com/?lang=ru" target="_blank") Twitter
        .footer_cont_bottom
            p Copyright ©RSSchool and ©Yem Digital 2020 - 2021
            p Designed by Vladislav Chernov
