aside.social
    a.logo_link(href="./") 
            img.logo(src="./assets/images/logo.png" alt="logo")
    ul.social_icons 
        li.social_icons_item 
            a.social_icons_item_link(href="https://www.instagram.com/?hl=ru" target="_blank")
                img.social_icons_item_link_img(src="./assets/images/instagramleft.png" alt="social")
        li.social_icons_item 
            a.social_icons_item_link(href="https://uk-ua.facebook.com/" target="_blank")
                img.social_icons_item_link_img(src="./assets/images/fbiconleft.png" alt="social")
        li.social_icons_item 
            a.social_icons_item_link(href="https://twitter.com/?lang=ru" target="_blank")
                img.social_icons_item_link_img(src="./assets/images/twitterleft.png" alt="social")
    botton.top
        img.top_arrow(src="./assets/images/go_up.png" alt="arrow")