section.zoos
    .zoos_pos_wrap
        .map_item.map_item_img_crocodile 
            img.map_item_img(src="./assets/images/crocodile_map.png" alt="eagle")
        .map_item.map_item_img_muncky 
            img.map_item_img(src="./assets/images/muncky_map.png" alt="eagle")
        .map_item.map_item_img_panda 
            img.map_item_img.img_panda(src="./assets/images/panda_map.png" alt="eagle")
        .card 
            img.card_img(src="./assets/images/gorilla.png" alt="eagle")
            h3 Gorilla
            p The broadcast comes from the Democratic Republic of the Congo in a forest area. Watch their life and life together
            a.watch_now(href="/")
               button Watch now

