doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="css/main.min.css")
    title Online-zoo
  body
    .container
      h1.title_hidden_teg Online Zoo
      include ../global_section/header.pug
      include ../global_section/socialleft.pug
      include ../section/hero.pug
      include ../section/howzoo.pug
      include ../section/famouspets.pug
      include ../section/payfeed.pug
      include ../section/testimonials.pug
      include ../section/zoogeography.pug
      include ../global_section/footer.pug




      
 


script(src="js/main.js")