html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="../css/main.min.css")
    title Online-zoo
  body
    .container
      header.header
        .menu
          nav.nav
            ul.nav_menu
                each value, index in {'About' : 'index', 'Map' : 'zoosmap', 'Zoos' : 'zoos/panda', 'Contact us' : 'forbidden', 'Design' : 'figma'}
                    li.nav_menu_item
                        if value==='zoos/panda'
                            a.nav_menu_item_link.nav_menu_item_link_active(href="./") Zoos
                        else if  value==='figma'
                            a.nav_menu_item_link(href="https://www.figma.com/file/74wXlorl9mZQP0uhqDg83j/Online-Zoo") Design
                        else
                            a.nav_menu_item_link(href="../"+ value + ".html")= index
        img.profile(src="../assets/images/profile.png" alt="profile")
      aside.zoomaps_aside.pandapage
        a.logo_link(href="../index.html") 
          img.logo(src="../assets/images/logo.png" alt="logo")
        .zoomaps_aside_slider 
        .zoomaps_aside_slider_control
          img.zoomaps_aside_slider_control_arrow(src="../assets/images/up.png" alt="control") 
          .slider_wrapper
            .slider_wrapper_nohidden 
              ul.carousel 
                li.carousel_item 
                  a.carousel_item_link(href="/zoos/panda.html")
                    img.carousel_item_link_img(src="../assets/images/panda_map.png" alt="panda")
                li.carousel_item 
                  a.carousel_item_link(href="/zoos/aligator.html")
                    img.carousel_item_link_img(src="../assets/images/crocodile_map.png" alt="crocodile")
                li.carousel_item 
                  a.carousel_item_link(href="/zoos/eagle.html")
                    img.carousel_item_link_img(src="../assets/images/eagle_map.png" alt="eagle")
                li.carousel_item.carousel_item_active 
                  a.carousel_item_link(href="/zoos/gorila.html")
                    img.carousel_item_link_img(src="../assets/images/muncky_map.png" alt="muncky")
                li.carousel_item 
                  a.carousel_item_link.question(href="/")
                    h4 ?
        .zoomaps_aside_slider_control
          img.zoomaps_aside_slider_control_arrow.down(src="../assets/images/up.png" alt="control")
      section.maincam 
        .maincam_wrap 
          iframe.video(src="https://www.youtube.com/embed/_Gz5AG5O1xQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          .desc_animal
            .desc_animal_title_wrap
              img.desc_animal_title_wrap_img(src="../assets/images/avatar_gorilla.png")
              .desc 
                h4 Grace gorillas
                p.watch 235 watching now
            .desc_animal_cont 
              h4 You can donate to this animals for a wonderful lunch.
              p Pandas will receive a mixture of bamboo shoots, carrots and apples. Animals will receive your gift in about 5-15 minutes
              button.feed Feed the gorilla
      section.othercams 
        .wrapper
          h3.other_title Other cams
          .grid_cams 
            .item.item_gorilla
              .hidden
                h4 112 viewers 
                a.watch_now(href="/")
                  button Watch now 
            .item.item_gorilla
              .hidden
                h4 112 viewers 
                a.watch_now(href="/")
                  button Watch now 
            .item.item_gorilla
             .hidden
                h4 112 viewers 
                a.watch_now(href="/")
                  button Watch now 
        //-   .button_wrapper 
        //-     button.btn_left 
        //-       img.arrow_left(src="../assets/images/arrow_right.png" alt="arrow")
        //-     button.btn_left 
        //-       img.arrow_right(src="../assets/images/arrow_right.png" alt="arrow")
      section.interesting
        .wrapper 
          h3.title Interesting facts
          p.title_p The yards at the Shenshuping Panda Center in China's Wolong Valley are filled with bamboo, making them very happy. Watch live and learn more about pandas.
          .acordeon
            .acordeon_title 
              p Species population
              h4.hide _
            .acordeon_description 
              p.desc All species (and subspecies) of gorilla are listed as endangered or critically endangered on the IUCN Red List. 
                | Now, over 100,000 western lowland gorillas are thought to exist in the wild, with 4,000 in zoos, thanks to conservation; eastern lowland gorillas have a population of under 5,000 in the wild and 24 in zoos.
            .acordeon_title 
              p Region of habitat
              h4.hide _
            .acordeon_description 
              p.desc In nature, gorillas live in the equatorial forests of western and central Africa, mountain gorillas - on the slopes of the volcanic mountains of Virunga, covered with forest. They keep in small groups, consisting of a male leader, several females and their cubs (from 5 to 30 individuals in total).
            .acordeon_title 
              p Nutrition
              h4.hide _
            .acordeon_description 
              p.desc The gorilla's diet is based on plant foods. Among the plants used, one can distinguish wild celery, bedstraw, nettles, bamboo shoots, blue pygeum fruits. Fruits and nuts are an addition to the main diet, while animal foods.
              p.desc Gorillas also use various mineral supplements in their diet: they eat, for example, some types of clay, thus compensating for the lack of salt in food. Gorillas hardly have to drink: juicy greens already have enough moisture. Reservoirs and water in general are avoided whenever possible, and rain is disliked.
      section.payfeed(id="payfeed") 
        .wrapper.pay_wrapper
          .payfeed_start 
            p Pay & feed
            .item_pay_feed 
                img.item_pay_feed_img(src="../assets/images/paysafe.png" alt='pay')
                .item_pay_feed_desc 
                    h3 Pay with VISA card
                    p On the payment page, you need to enter the details of your "Visa" card and make a transfer. The operation will not take more than ~2 minutes.
            img.vector.vector_1(src="../assets/images/vector1.png")
          .flex
            img.vector.vector_2(src="../assets/images/vector2.png")        
            .item_pay_feed.right
                img.item_pay_feed_img(src="../assets/images/payfly.svg" alt='pay')
                .item_pay_feed_desc 
                    h3 Payment goes to the zoo
                    p Payment goes to the account of the zoo and volunteers with employees receive a notification about the donation.
          .item_pay_feed.sec3
              img.item_pay_feed_img(src="../assets/images/paymeeting.png" alt='pay')
              .item_pay_feed_desc 
                h3 The selected animal receives a treat
                p The staff takes the food you need for your chosen animal and delivers it to the animal. With your help, the animal is happy!
      footer.footer 
        .wrapper
          .footer_cont 
            .footer_cont_item.footer_cont_item_1
                a.logo_link(href="./")
                    img.footer_logo(src="../assets/images/logo_footer.png" alt="logo")
                .logo_school 
                    img.digital(src="../assets/images/footer_yem_digital.png")
                    p x 
                    img.logo_rs(src="../assets/images/rs_school_logo.png") 
            .footer_cont_item.footer_cont_item_2
                h2 Navigation
                nav.footer_nav 
                    ul.footer_nav_ul 
                        li.footer_nav_ul_li 
                            a.footer_nav_ul_li_link(href="#hero") Watch online
                        li.footer_nav_ul_li 
                            a.footer_nav_ul_li_link(href="#howzoo") How it works
                        li.footer_nav_ul_li 
                            a.footer_nav_ul_li_link(href="#fameous") Famous pets
                        li.footer_nav_ul_li 
                            a.footer_nav_ul_li_link(href="#payfeed") Pay & feed
                        li.footer_nav_ul_li 
                            a.footer_nav_ul_li_link(href="#testimonials") Testimonials
                        li.footer_nav_ul_li 
                            a.footer_nav_ul_li_link(href="#zoogeography") Zoogeography


            .footer_cont_item.footer_cont_item_3
                .cont_item_3
                    h2 Support of volunteers
                    p You can thank the volunteers for their work. For example, caring for animals and sincere love for them.
                    button.donate Donate for volunteers 
                    ul.social_footer 
                        li 
                            a.social_footer_link(href="https://www.instagram.com/?hl=ru" target="_blank") Instagram
                        li 
                            a.social_footer_link(href="https://uk-ua.facebook.com/" target="_blank") Facebook
                        li 
                            a.social_footer_link(href="https://twitter.com/?lang=ru" target="_blank") Twitter
          .footer_cont_bottom
            p Copyright ©RSSchool and ©Yem Digital 2020 - 2021
            p Designed by Vladislav Chernov
         

              
            



      
 


    script(src="js/main.min.js")

